.dm-footer{
    background-color: #68a097;
    .dm-social-icon{
        margin: 30px 0;
        ul{
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            li{
                background-color: #82c8bd;
                color: $white;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                font-size: 24px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin-right: 20px;
            }
        }
    }
}