<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>acrostia</title>

    <% include /src/include/styles.ejs %>

</head>

<body>
    <% include /src/include/header.ejs %>
    <main id="acrostia">
        <!-- Hero Section -->
        <div class="dm-hero">
            <div class="hero-section"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slideshow-container">
                                <h2>A Brighter Dental Experience</h2>
                                <p>General, Cosmetic, and Restorative Dentistry</p>
                                <a class="ts_button" href="#">
                                    <span class="ts_btn_span_txt">learn more</span>
                                    <span class="ts-btn-text-flip">
                                        <span class="ts_btn_span_txt"> learn more </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Services Section  -->
        <div class="dm-services">
            <div class="container">
                <div class="row dm-services-title-space">
                    <div class="col-lg-12 text-center">
                        <h1>OUR SERVICES</h1>
                        <p class="text-uppercase dm-service-text">Cras commodo mattis justo nec <span>lobortis</span>.
                            Nam ut tellus lobortis, ullamcorper massa sit amet</p>
                        <p class="dm-service-contact">Cras suscipit porttitor porttitor. Morbi sit amet tincidunt
                            sapien. Curabitur posuere lectus aliquet erat rutrum
                            sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at
                            ante vitae justo fermentum
                            viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
                    </div>
                </div>
                <div class="row dm-services-4-block">
                    <div class="col-lg-3">
                        <div class="dm-services-block">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <img src="images/lightball.png" alt="">
                                </div>
                            </div>
                            <div class="dm-services-block-content text-center">
                                <h2 class="text-uppercase">Researching</h2>
                                <p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore.</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-3">
                        <div class="dm-services-block">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <img src="images/m-wand.png" alt="">
                                </div>
                            </div>
                            <div class="dm-services-block-content text-center">
                                <h2 class="text-uppercase">DESIGN</h2>
                                <p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum
                                    dolore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="dm-services-block">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <img src="images/giars.png" alt="">
                                </div>
                            </div>
                            <div class="dm-services-block-content text-center">
                                <h2 class="text-uppercase">Development</h2>
                                <p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum
                                    dolore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="dm-services-block">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <img src="images/rocket.png" alt="">
                                </div>
                            </div>
                            <div class="dm-services-block-content text-center">
                                <h2 class="text-uppercase">launch</h2>
                                <p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum
                                    dolore.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Section  -->
        <div class="dm-team">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center dm-team-title">
                        <h1 class="text-uppercase">Who we are & what we do</h1>
                        <p class="dm-team-contact">Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum
                        sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum
                        viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
                        <div class="dm-team-btn">
                            <button type="button" class="btn text-center text-uppercase">Meet the team</button>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="row dm-team-4-block">
                    <div class="col-lg-3">
                        <div class="dm-team-employee-block">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <img src="images/team-employee.png" alt="">
                                </div>
                            </div>
                            <div class="dm-employee-name text-center">
                                <h2 class="text-uppercase">Anton Petrov</h2>
                                <span>General manager</span>
                            </div>
                            <div class="dm-social-icon">
                                <ul>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-google-plus-g"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                        </div>    
                    </div>
                    <div class="col-lg-3">
                        <div class="dm-team-employee-block active">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <img src="images/team-employee-active.png" alt="">
                                </div>
                            </div>
                            <div class="dm-employee-name text-center">
                                <h2 class="text-uppercase">Kirl DONCHEV</h2>
                                <span>Design Master</span>
                            </div>
                            <div class="dm-social-icon">
                                <ul>
                                    <li class="dm-fb"><i class="fab fa-facebook-f"></i></li>
                                    <li class="dm-tw"><i class="fab fa-twitter"></i></li>
                                    <li class="dm-google"><i class="fab fa-google-plus-g"></i></li>
                                    <li class="dm-linkedin"><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="dm-team-employee-block">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <img src="images/team-employee.png" alt="">
                                </div>
                            </div>
                            <div class="dm-employee-name text-center">
                                <h2 class="text-uppercase">Ilian Bonev</h2>
                                <span>Developer Ninja</span>
                            </div>
                            <div class="dm-social-icon">
                                <ul>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-google-plus-g"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="dm-team-employee-block">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <img src="images/team-employee.png" alt="">
                                </div>
                            </div>
                            <div class="dm-employee-name text-center">
                                <h2 class="text-uppercase">Doni Stamov</h2>
                                <span>SEO guru</span>
                            </div>
                            <div class="dm-social-icon">
                                <ul>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-google-plus-g"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Work Section -->
        <div class="dm-our-work">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center dm-our-work-title">
                        <h1 class="text-uppercase">Our Work</h1>
                        <p class="dm-our-work-contact">Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere
                            lectus aliquet erat rutrum
                            sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo
                            fermentum
                            viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="dm-our-work-tab">
                        <span class="text-uppercase">PORTFOLIO</span>
                        <ul>
                            <li><a href="#">All</a></li>
                            <li class="active"><a href="#">Photography</a></li>
                            <li><a href="#">Logo design</a></li>
                            <li><a href="#">Web design</a></li>  
                        </ul>
                    </div>
                </div>
                <div class="row dm-forst-4-image">
                    <div class="col-lg-3 dm-image-all">
                        <img src="images/image1.png">
                        <div class="dm-image-text text-center">
                            <span class="text-uppercase">Aenean a elit</span>
                        </div>
                    </div>
                    <div class="col-lg-3 dm-image-all active">
                        <img src="images/image3.png">
                        <div class="dm-image-text text-center">
                            <span class="text-uppercase">Aliquam</span>
                        </div>
                    </div>
                    <div class="col-lg-3 dm-image-all">
                        <img src="images/image2.png">
                        <div class="dm-image-text text-center">
                            <span class="text-uppercase">Suspendisse libero</span>
                        </div>
                    </div>
                    <div class="col-lg-3 dm-image-all">
                        <img src="images/image4.png">
                        <div class="dm-image-text text-center">
                            <span class="text-uppercase">Maecenas fringilla</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 dm-image-all">
                        <img src="images/image5.png">
                        <div class="dm-image-text text-center">
                            <span class="text-uppercase">Donec vehicula</span>
                        </div>
                    </div>
                    <div class="col-lg-3 dm-image-all">
                        <img src="images/image6.png">
                        <div class="dm-image-text text-center">
                            <span class="text-uppercase">Ut et sapien</span>
                        </div>
                    </div>
                    <div class="col-lg-3 dm-image-all">
                        <img src="images/image7.png">
                        <div class="dm-image-text text-center">
                            <span class="text-uppercase">quis malesuada</span>
                        </div>
                    </div>
                    <div class="col-lg-3 dm-image-all">
                        <img src="images/image8.png">
                        <div class="dm-image-text text-center">
                            <span class="text-uppercase">Vestibulum ante</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Us -->
        <div class="dm-contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center dm-contact-us-title1">
                        <h1 class="text-uppercase">CONTACT US</h1>
                        <p class="dm-contact-us-contact">Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere
                            lectus aliquet erat rutrum
                            sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo
                            fermentum
                            viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 dm-contact-us-title">
                        <span>Address</span>
                        <div class="dm-add-title">
                            <h6>Acrostia</h6>
                            <p>Sevenoaks Rd</p>
                            <p>Sevenoaks TN14 7HR, UK</p>
                        </div>
                        <div class="dm-contact-us-details">
                            <ul>
                                <li><span>Phone:</span><a href="#">+44 555 555 555</a></li>
                                <li><span>Fax:</span><a href="#">+44 556 555 555</a></li>
                                <li><span>Email:</span><a href="#">info@acrostia.com</a></li>
                                <li><span>Skype:</span><a href="#">Ac0stia</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 dm-mp-image">
                        <img src="images/map.png">
                    </div>
                    <div class="col-lg-6 dm-contact-us-title">
                        <span>Ask a question</span>
                        <form>
                            <div class="dm-contact-us-form">
                                <div class="form-group dm-frist-input mr-2">
                                    <input class="form-control" type="text" name="" placeholder="Name">
                                </div>
                                <div class="form-group dm-input-white ml-2">
                                    <input class="form-control" type="text" name="" placeholder="">
                                </div>
                            </div>    
                            <div class="dm-contact-us-form">
                                <div class="form-group dm-frist-input dm-textarea-space">
                                    <textarea class="form-control" type="text" name="" placeholder="Your question"></textarea>
                                </div>
                            </div>
                            <div class="dm-button">
                                <button type="button">SEND</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer section -->
        <div class="dm-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dm-social-icon">
                            <ul>
                                <li><i class="fab fa-facebook-f"></i></li>
                                <li><i class="fab fa-twitter"></i></li>
                                <li><i class="fab fa-google-plus-g"></i></li>
                                <li><i class="fab fa-linkedin-in"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <% include /src/include/scripts.ejs %>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
</body>

</html>